<!DOCTYPE HTML>
<html>

  <head>
    <title>Prototype San Diego Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
    <![endif]-->
    <%= css :application %>

  </head>


  <body>

    <div id="map-list">
      <h4>San Diego County</h4>
      <div id="summary">Select a region</div>

      <ul id="neighborhoods">	
      </ul>
      
    </div>

    <div id="map">


    </div>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
  <%= js :app %>
  </body>
</html>
